:root{
  --MostUsedcolor: #2C4E58;
  --white: #fff;
  --black: #000
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: #fbfafa;
  /* font-family:  Roboto,  sans-serif; */
}
.header{
  height: 80px;
  overflow: hidden;
  position: sticky;
  width: 100%;
  background-color: #FDFDFD;
  top: 0px;
  z-index: 30;
 }
 .slider{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .slider ul{
   width: 100%;
   transition: 0.3s ease;
   display: flex;
   justify-content: right;
   padding-top: 20px;
 }
 .slider ul li{
   margin-block: 0.1rem;
   margin-inline: 2rem;
   font-weight: 700; 
   font-size: 16px;
   list-style: none;
   color: rgb(37, 35, 35);
   text-decoration: dotted;
  }
  .slider ul li a:hover{
    color: var(--MostUsedcolor);
  }
  .scrollLink{
   text-decoration: none;
   font-size: 17px;
   color: var(--white);
 }
 .logoLx{
   padding-left: 27px;
   color: var(--white);
   display: flex;
   /* position: relative; */
 }
 .slider ul .menu{
   display: none;
 }
 .logo{
   display: none;
 }
 .logoLx img, .logo img{
  /* height: 100%; */
  width: 100%;
  height: 80px;
  padding-top: 7px;
  margin-top: -2px;
  object-fit: contain;
 }
 .logo h2, .logoLx h2{
  text-align: center;
  display: inline;
  padding-top: 21px;
  font-weight: 800;
  color: #2D4D5A;
  /* left: 10px; */
 }
 .showmenu,  .personIcon{
   font-size: 20px;
   font-weight: 400;
   cursor: pointer;
   color:rgb(86, 87, 85);
   display: none;
 }
 .upperContactInfo{
  display: flex;
  background-color: var(--MostUsedcolor);
  color: var(--white);
  padding-inline: 20px;
  font-weight: 500;
 }
 .location p a{
  color: var(--white);
  text-decoration: none;
  padding-inline: 5px;
 }
 .location p{
  padding-right:10px ;
 }
 .location{
  flex-basis: 60%;
 }
 .location p{
  display: inline;
 }
 .SocialMediaLinks{
  flex-basis: 40%;
  text-align: right;
  margin-top: 10px;
 }
 .SocialMediaLinks a{
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
 }
.activate{
  color: #F7F7F7;
  border-bottom: 4px solid var(--MostUsedcolor);
 }
 .scrollLink{
  color: var(--white);
 }
 .scrollLink:hover{
  cursor: pointer;
 }
 #home{
  width: 100%;
  overflow: hidden;
 }
  .hero{
  height: 96vh;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-image: url(../src//assets//Construct_Images/p3.jpg);
} 
.hero2{
  background-image: url(../src//assets//Construct_Images/constImg04.jpg);
  background-position: center right;
}
.hero3{
  background-image: url(../src//assets//Construct_Images/constImg03.jpg);
  background-position: center left;
}
 .heroText {
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items:center;
  /* padding-top: 21%; */
  height: 100%;
  /* overflow: hidden; */
 }
 .heroText h1{
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
 }
 .heroText h3{
  border-bottom: 3px solid var(--white);
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 700;
 }
 .heroText button{
  background-color: var(--MostUsedcolor);
  color: var(--white);
  outline: none;
  border: none;
  height: 50px;
  width: 110px;
  border-radius: 5px;
 }
 .virtuesCont{
  display: flex;
  gap: 15px;
  height: 60%;
}
.card{
  flex-basis: 34%;
  padding-left: 40px;
  padding-right: 20px;
  padding-block: 18px;
  border: none;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
 }
 .card h1{
  text-align: right;
  height: 20px;
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0,0.1);
  transition: all 0.5s ease-in-out;
 }
 .card:hover.card h1{
  color: var(--black);
  font-size: 70px;
 }
 .round{
   height: 85px;
   width: 85px;
   border-radius: 50%;
   background-color: var(--MostUsedcolor);
   color: var(--white);
   transition: all 0.5s ease-in-out;
   justify-content: center;
   display: flex;
   align-items: center;
  }
  .round p{
    font-size: 35px;
    margin-top: 8px;
    transition: all 0.5s ease-in-out;
  }
  .card:hover .round{
   background-color: var(--black);
   color: var(--white);
  }
  .card h4{
    font-weight: 700;
    padding-block: 10px;
  }
  #about{
    background-color: var(--white);
    padding-block: 10%;
  }
  .aboutCont{
    display: flex;
    gap: 20px;
  }
  .aboutImg{
    flex-basis: 49%;
  }
  .aboutImg img{
    object-fit: contain;
    /* height: 100%; */
    width: 100%;
  }
  .aboutText{
    flex-basis: 49%;
  }
  .aboutText h6{
    color: var(--MostUsedcolor);
    font-weight: 700;
     border-bottom: 3px solid var(--MostUsedcolor);
     display: inline-block;
     padding-bottom: 5px;
     margin-top: 30px;
  }
  .aboutText h2{
    font-weight: 700;
    /* font-size: 38px; */
    margin-bottom: 20px;
  }
  .architecDesignCont{
    display: flex;
  }
  .fontSide{
    flex-basis: 8%;
    align-self: center;
  }
  .fontSide p{
    color: var(--MostUsedcolor);
     font-size: 30px;
    margin-top: 40px;
  }
  .archiTextSide{
    border-left: 3px solid var(--MostUsedcolor);
    padding-left: 10px;
    margin-top: 20px;
    flex-basis: 80%;
  }
  .archiTextSide h4{
    font-weight: 700;
  }
  .archiTextSide h4:hover{
    color: var(--MostUsedcolor);
    cursor: pointer;
  }
  .aboutText button{
    background-color: var(--MostUsedcolor);
    color: var(--white);
    outline: none;
    border: none;
    margin-top: 10px;
    height: 50px;
    width: 110px;
    border-radius: 5px;
  }
  .servicesBackground{
  background-color: #fbfafa;
  }
  .servicesHeaderCont{
    text-align: center;
    margin-bottom: 30px;
  }
  .servicesHeaderCont h1{
    font-weight: 700;
  }
  .servicesHeaderCont h5{
    color: var(--MostUsedcolor);
    font-weight: 700;
     border-bottom: 3px solid var(--MostUsedcolor);
     display: inline-block;
     padding-bottom: 5px;
  }
  .servicesCont{
    display: flex;
    gap: 20px;
    height: 50%;
  }
  .serviceCard{
    flex-basis: 34%;
    position: relative;
    margin-bottom: 20%;
  }
  .serviceCard img{
    object-fit: cover;
    width: 100%;
    height: 40vh;
  }
  .subService{
    position: relative;
  }
  .serviceText{
    /* border: 3px solid var(--black); */
    border-radius: 10px;
    width: 90%;
    position: absolute;
    bottom: -52%;
    left: 5%;
    margin-bottom: 40px;
    background-color: var(--white);
    padding-inline: 20px;
    transition: all 0.5s ease-in-out;
  }
  .serviceText:hover .serviceFont{
    background-color: var(--black);
  }
  .serviceFont p{
    font-size: 25px;
    margin-top: 6px;
  }
  .serviceFont{
    height: 60px;
    width: 60px;
    position: absolute;
    top: -17%;
    border-radius: 50%;
    background-color: var(--MostUsedcolor);
    color: var(--white);
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  .serviceText div:nth-child(2){
    margin-top: 30px;
  }
  .serviceText h5{
    font-weight: 700;
  }
  .serviceCard:hover .serviceText{
    bottom: -68%;
  }
  /* MEMBERS COMPONENTES STYLES  --STARTS*/
 .memberHeader{
  text-align: center;
 }
 .memberHeader h6{
  color: var(--MostUsedcolor);
  font-weight: 700;
   border-bottom: 3px solid var(--MostUsedcolor);
   display: inline-block;
   padding-bottom: 5px;
 }
 .memberHeader h1{
  font-weight: 700;
  margin-bottom: 40px;
 }
 .memberBodyCont{
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  overflow-y: hidden;
 }
 .memberCard{
  flex-basis: 34%;
  /* border: 2px solid black; */
  height: 100%;
  position: relative;
 }
 .memberCard img{
  width: 100%;
  object-fit: cover;
 }
 .slideDown{
  margin-left: 75%;
  background-color: var(--MostUsedcolor);
  width: 60px;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  height: 30%;
  position: relative;
  overflow-y: hidden;
 }
 .slidecont {
  height: 75%;
  /* border: 2px solid gray; */
  position: absolute;
  width: 100%;
  top: 0%;
 }
 .memberCard:hover .slideDown{
   height: 75%;
 }
 .slide2{
  position: absolute;
  top: -100px;
  left: 13%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--MostUsedcolor);
  font-size: 30px;
  transition: all 0.7s ease-in-out;
 }
 .slide1{
  position: absolute;
  top: -50px;
  left: 13%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--MostUsedcolor);
  transition: all 0.6s ease-in-out;
  font-size: 30px;
 }
 .slide3{
  position: absolute;
  top: 20px;
  left: 13%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: var(--MostUsedcolor);
  background-color: var(--white);
   font-size: 30px;
  transition: all 0.5s ease-in-out;
 }
 .memberCard:hover .slide1{
  top: 40%;
 }
 .memberCard:hover .slide3{
  top: 70%;
 }
 .memberCard:hover .slide2{
  top: 10%;
 }
 .memberRole{
  margin-top: 2%;
  background-color: var(--white);
  height: 100px;
  width: 75%;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  bottom: 10px;
 }
 .memTectCont{
  position: absolute;
  background-color: var(--MostUsedcolor);
  height: 100px;
  width: 2%;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.8s ease-in-out;
 }
 .memText{
   width: 23vw;
   margin-left: 30px;
   margin-top: 15px;
  }
  .memText h3{
   font-weight: 700;
 }
 .memberCard:hover .memTectCont{
  width: 100%;
  color: var(--white);
 }
  /* MEMBERS COMPONENTES STYLES  --ENDS*/


  /* WHY CHOOSE US COMPONENTS STYLES --STARTS */
  .chooseUsCont{
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
  }
  .chooseUsReason{
    flex-basis: 45%;
  }
  .companyMisson{
    flex-basis: 55%;
  }
  .chooseUsReason h6{
    color: var(--MostUsedcolor);
    font-weight: 700;
     border-bottom: 3px solid var(--MostUsedcolor);
     display: inline-block;
     padding-bottom: 5px;
  }
  .chooseUsReason h1{
    font-weight: 700;
  }
  .companyMisson h6 {
    background-color: var(--MostUsedcolor);
    color: var(--white);
    outline: none;
    border: none;
    height: 50px;
    padding-left: 5px;
    width: 160px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: 700;
  }
  .subCompanyMisson{
  display: flex;
  gap: 2px;
  }
  .missonText{
  flex-basis: 55%;
  }
  .missonImg{
    flex-basis: 45%;
  }
  .missonImg img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    border-radius: 10px;
  }
  .missonText h4{
    font-weight: 700;
  }
  .missonText h5{
    color: var(--MostUsedcolor);
    font-weight: 700;
    font-size: 17px;
  }
  .displayPhotos1{
     display: flex;
     height: 48vh;
     gap: 1px;
  }
  .displayPhotos1 h4, .displayPhotos1 h6{
    font-weight: 700;
  }
  .image1{
    flex-basis: 34%;
    position: relative;
    overflow: hidden;
  }
  .image1 div{
    /* border: 2px solid black; */
    bottom: -100%;
    height: 48vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    background-color: rgb(254, 93, 38,0.6);
    color: var(--white);
  }
  .image1:hover.image1 div{
    bottom: 0%;
  }
  .displayPhotos2{
    display: flex;
    height: 48vh;
    gap: 1px;
    margin-bottom: 80px;
  }
  .displayPhotos2 h4, .displayPhotos2 h6{
    font-weight: 700;
  }
  .image2{
    flex-basis: 34%;
    position: relative;
    overflow: hidden;
  }
  .image2 div{
    /* border: 2px solid black; */
    bottom: -100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    height: 48vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 93, 38,0.6);
    color: var(--white);
  }
  .image2:hover.image2 div{
    bottom: 0%;
  }
  .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid white;
    transition: transform .6s;
    /* overflow-x: hidden; */
  }
  .image1:hover.image1 img{
    transform: scale(1.15);
  }
  .image2:hover.image2 img{
    transform: scale(1.15);
  }
  .image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid white;
    transition: transform .6s;
  }
    /* WHY CHOOSE US COMPONENTS STYLES --ENDS */


    /* CONTACT FORM COMPONENTS STYLES --STARTS */
  .contactCont{
    display: flex;
    gap: 10px;
  }
  .ourFaq{
    flex-basis: 49%;
  }
  .contactForm{
    flex-basis: 49%;
  }
  .contactForm div:nth-child(1){
    background-color: #F5F5F5;
    padding-inline: 25px;
    padding-block: 30px;
    border-radius: 10px;
  }
  .contactForm h6,.ourFaq h6 {
    color: var(--MostUsedcolor);
    font-weight: 700;
    border-bottom: 3px solid var(--MostUsedcolor);
    display: inline-block;
    padding-bottom: 5px;
  }
  .ourFaq h1{
   font-weight: 700;
  }
  .questionsCont h6{
    color: #292020;
    font-weight: 700;
    border-bottom:none;
    display:block;
    padding-bottom: 5px;
  }
  .questionsCont{
    /* border: 2px solid orangered; */
    /* height: 30%; */
    padding: 15px;
    margin-bottom: 10px;
    background-color: #F3F3F3;
    border-radius: 10px;
  }
  .questions{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* border: 2px ridge black; */
  }
  .answer{
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .clikedAnswer{
    display: block;
  }
  .detailContactform  input, textarea{
    height: 50px;
    width: 100%;
    border: 1.8px solid #DDDDDD;
    padding-inline: 10px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  textarea{
    height:18% ;
  }
  .detailContactform h2{
    margin-block: 20px;
  }
  input[type=submit]{
    background-color: var(--MostUsedcolor);
    width: 60%;
    display: block;
    padding: 10px;
    border-radius: 10px;
    /* margin: 0px auto; */
    font-weight: 550;
    color: white;
    border: none;
  }
  
  /* TESTIMONIAL COMPONENTS SECTION */
  .testimonialContainer{
  background-color: #F5F5F5;
  margin-block: 30px;
  padding-block: 2px;
  padding-bottom: 80px;
  }
  .slick-slide div{
    margin-inline: 10px;
    /* padding-inline: 1rem; */
  }
  .testimonialHeader{
    text-align: center;
    margin-top: 50px;
  }
  .testimonialHeader h6{
    color: var(--MostUsedcolor);
    font-weight: 700;
     border-bottom: 3px solid var(--MostUsedcolor);
     display: inline-block;
     padding-bottom: 5px;
     margin-top: 30px;
  }
  .testimonialHeader h2{
    font-weight: 700;
  }
  .testimonialslider{
    height: 40vh;
    width: 100%;
    /* border-left: 10px solid #e0e0e0; */
    background-color: var(--white);
  }
  .TestiSlider{
    overflow: hidden;
  }
  .testimonialslider p:nth-child(1){
   display: flex;
   align-items: center;
   height: 70%;
   margin-bottom:-20px ;
   padding-inline: 40px;
  }
  .testiProfileCont{
    display: flex;
    gap: 20px;
  }
  .roundImageSec {
    height: 65px;
    width: 65px;
    border-radius: 50px;
  }
  .textSec{
    margin-top: 3px;
  }
  .textSec h4{
    font-weight: 700;
  }
  .textSec p{
    font-weight: 700;
    color: var(--MostUsedcolor);
  }
  .roundImageSec h4{
    margin-top: 20px;
  }
  .testimonialslider div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    margin-left: 20px;
  }

  /* FOOTER COMPONENT */

 .footerBackgroung{
  background-color: var(--black);
  color: var(--white);
  padding-top: 40px;
 }
 .footerCont{
  display: flex;
  gap: 25px;
 }
 .footerleftSec h2{
  color: var(--white);
 }
 .footerleftSec p{
  margin-top: 10px;
  font-weight: 700;
 }
 .footerleftSec{
  flex-basis: 34%;
 }
 .footerCenterSec{
  flex-basis: 34%;
}
.footerCenterSec h3, .footerRightSec h3{
  font-weight: 800;
  border-bottom: 5px solid var(--MostUsedcolor);
  display: inline;
  margin-bottom: 20px;
}
.footerCenterSec p{
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  color: var(--white);
  cursor: pointer;
}
.footerCenterSec p:hover{
  color: var(--MostUsedcolor);
  margin-left: 10px;
}
 .footerRightSec{
  flex-basis: 34%;
 }
 .footerRightSec p{
  color: var(--white);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
 }
 .footerRightSec p:hover{
  color: var(--MostUsedcolor);
  margin-left: 20px;
 }
 .footerRightSec a{
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
 }
 .footerRightSec i{
    font-size: 25px;
    padding-inline: 15px;
 }
 .footerRightSec a:hover{
  color: var(--MostUsedcolor);
 }
 .footerBackgroung hr{
  font-size: 20px;
  border: 2px solid var(--white);
  font-weight: 700;
  color: var(--MostUsedcolor);
 }
 .copyrite h6{
  text-align: center;
  padding-bottom: 30px;
  font-weight: 700;
 }






 /* RESPONSIVENESSS */
 @media screen and (max-width : 1000px){
  .header{
    height: 80px;
    padding-inline: 10px;
    padding-top: 10px;
    overflow: hidden;
    position: sticky;
    width: 100%;
    background-color: #FDFDFD;
    z-index: 20;
  }
  .upperContactInfo{
    display: none;
  }
  .slider{
    min-width: 80%;
    height: 100vh;
    align-items: start;
    position: fixed;
    right: -100%;
    top: -18px;
    transition: 0.5s ease;
    z-index: 100;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .slider.active {
    right: 0;
    transition: 0.5s ease;
    width: 80%;
    height: 110vh;
  }
  .slider ul .menu{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    border-top: 0px;
    background-color: var(--white);
    font-weight: 600;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 50px;
  }
  .slider ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    padding-left: 0px;
    margin-left: 0px;
  }
  .slider ul li{
    margin-block: 0rem;
    padding-block: 1.3rem;
    list-style: none;
    border: 1px solid rgb(224, 219, 219);
    border-inline: 0px;
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
    font-weight: 700; 
    font-size: 15px;
    /* background-color: whitesmoke; */
  }
  .largeSc{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 0px 20px; */
    align-items: center;
  }
  .showmenu{
    font-size: 30px;
    font-weight: 300;
    display: block;
    cursor: pointer;
    color:var(--MostUsedcolor);
  }
  .slider ul .lastLink{
    border-bottom: 0px;
  }
  .logo{ 
    text-align: center;
    color: var(--white);
    display: flex;
  }
  .logo h2{
    padding-top: 23px;
  }
  .logoLx{
    display: none;
  }
  .activate{
    background-color: var(--MostUsedcolor);
   }
  .scrollLink{
    /* color: white; */
    text-decoration: none;
    font-size: 17px;
    color: var(--white);
  }
  .virtuesCont{
    display: block;
    /* height: 40%; */
  }
  .card{
    margin-block: 20px;
  }
  .aboutCont{
    display: block;
  }
  .archiTextSide{
    flex-basis: 90%;
  }
  .servicesCont{
    display: block;
  }
  .serviceText{
    bottom: -23%;
  }
  .serviceCard:hover .serviceText{
    bottom: -32%;
  }
  .serviceCard{
    margin-bottom: 22%;
  }
  .memberBodyCont{
    display: block;
  }
  .memberCard{
    margin-block-end: 20px;
  }
  .chooseUsCont{
    display: block;
  }
  .slidecont{
    height: 50%;
    }
    .contactCont{
      display: block;
    }
    .footerCont{
      display: block;
    }
    .footerCenterSec, .footerleftSec, .footerRightSec{
      margin-top: 40px;
    }
    .footerLogo{
      display: flex;
    }
    .footerLogo h2{
      /* border: 2px solid var(--MostUsedcolor); */
      font-size: 25px;
      padding-top: 10px;
    }
    .logo img{
      margin-top: -10px;
      height: 70px;
      /* margin-left: 128px; */
    }
 }
 @media screen and (max-width : 780px){
  .logo img{
    margin-top: -10px;
    height: 70px;
    /* margin-left: 124px; */
  }
  .serviceText{
    bottom: -37%;
  }
  .serviceCard:hover .serviceText{
    bottom: -45%;
  }
  .serviceCard{
    margin-bottom: 30%;
  }
  .servicesHeaderCont h1{
    font-weight: 700;
    font-size: 24px;
    margin-block: 20px;
  }
  .memberHeader h1{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
   }
   .chooseUsReason h1{
    font-weight: 700;
    font-size: 24px;
  }
  .slidecont{
  height: 60%;
  }
  .memText{
    width: 35vw;
  }
  .subCompanyMisson{
    display: block;
    margin-top: 20px;
  }
  .missonImg img{
    object-fit: cover;
    height: 60%;
  }
  .companyMisson{
    margin-top: 40px;
  }
  .hero{
    height: 75vh;
  }
  .heroText h1{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .hero h3{
    font-size: 21px;
  }
  .image1 div{
    height: 100%;
  }
  .image2 div{
    height: 100%;
  }
  .displayPhotos1{
    display: block;
    border-bottom: 30px;
    height: 50%;
  }
  .displayPhotos2{
    display: block;
    height: 50%;
  }
 }
 @media screen and (max-width : 500px){
  /* .header{
    overflow: hidden;
  } */
  .logo img{
    margin-top: -10px;
    height: 70px;
    /* margin-left: 115px; */
  }
  
  .serviceText{
    bottom: -47%;
  }
  .serviceCard:hover .serviceText{
    bottom: -60%;
  }
  .serviceCard{
    margin-bottom: 40%;
  }
  .slidecont{
    height: 75%;
    }
    .memText{
      width: 50vw;
    }
  .hero{
    height: 63vh;
  }
  .heroText h1{
    font-size: 24px;
    line-height: 35px;
    text-align: center;
  }
  .testimonialslider p:nth-child(1){
    padding-inline: 8px;
    margin-bottom: -10px;
  }
  .slick-slide div{
    margin-inline: 3px;
  }
  .testimonialslider div img{
    margin-inline: 5px ;
  }
 }